body{
  font-family: montserrat;
  outline: none;
  background-size: cover;
  background-repeat: no-repeat;
}
/*Padding*/
*{
  padding:0;
  margin:0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.toggler{
  display:none;
}
.nav-header nav{
  height: 3rem;
  background-color: black;
 }
.nav-header nav ul li{
  display: inline-block;
  line-height: 1rem;
  margin: 0 0.5rem;
}
.nav-header ul .right-side{
  display: inline-block;
  margin-left:35rem;
}
.nav-header ul li a{
  color: snow;
  text-transform: none;
  border-right: 0.1rem solid snow;
}
 .nav-header ul li a:link{
   text-decoration: none;
 }
.nav-header ul li a:hover{
  background: red;
  transition: .5s;
}
.logo{
  text-align: center;
}
.carousel-inner img{
  text-align: center;
}
#Bad{
    height: 2.5rem;
}
#Beat{
  height: 2.8rem;
}
#History{
  height: 3.5rem;
}
#MJ1973{
  height: 4rem;
}
.card-block a:link{
  text-decoration: none;
}
.card-block img{
  margin-left: 0;
}
.card-footer{
  color: snow;
  background: black;
}
.card-footer:hover{
  background-color: red;
}
.page-footer{
  background-color: #8B0000;
}
.page-footer a{
  color: snow;
  font-size: small;
}
.page-footer a:link{
  text-decoration: none;
}
.page-footer #help{
  position: relative;
  right: -1rem;
}
.page-footer #company{
  position: relative;
  right: -1rem;
}
.page-footer #business{
  position: relative;;
  right: -1rem;
}
.page-footer #social{
  position: relative;
  right: -1rem;
}
.page-footer #press{
  position: relative;
  right: -3rem;
}
.page-footer h6{
  color:#f0f0f0;
}
.footer-copyright{
  background-color: #8B0000;
}
.footer-copyright p{
  color: #f0f0f0;
  text-align: center;
}
.page-footer #dna{
  width: 5rem;
  height: 3rem;
}
.page-footer #story{
  position: relative;
  right: 1rem;
}
.page-footer #paypal{
  position: relative;
  right: 1rem;
}
.page-footer #sponsors{
  position: relative;
  top:1rem;
  left: 1rem;
}
